/* Start of reset CSS ( Meyerweb.com ) */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of reset CSS */

/* Start highlight all objects  /
* { outline: 2px dotted red }
* * { outline: 2px dotted green}
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
/* End highlight all objests */

/* Start of CSS clearfix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* end of CSS clearfix hack */

/* Start ElastiSlide CSS ( Elastislide - A Responsive JQuery Carousel Plugin ) */
.elastislide-list {
	list-style-type: none;
	display: none;
}
.no-js .elastislide-list {
	display: block;
}
.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}
.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.elastislide-wrapper.elastislide-loading {
	background-image: url(../img/elastislide_loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.elastislide-horizontal {
	padding: 10px 40px;
}
.elastislide-vertical {
	padding: 40px 10px;
}
.elastislide-carousel {
	overflow: hidden;
	position: relative;
}
.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}
.elastislide-horizontal ul {
	white-space: nowrap;
}
.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}
.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}
.elastislide-vertical ul li {
	display: block;
}
.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}
.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}


.elastislide-vertical {
	max-width: 170px;
	padding: 37px 10px;
	border-radius: 90px/10px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), 
		inset 0 10px 10px 1px rgba(155, 155, 155, 0.1);
}
.elastislide-vertical:before {
	top: 30px;
	bottom: 30px;
	left: 0;
	right: 0;
	content: " ";
	position: absolute;
	z-index: -2;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	border-radius: 20px/160px;
}
.elastislide-vertical:after {
	content: " ";
	position: absolute;
	z-index: -2;
}




/* Navigation Arrows */
.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../img/elastislide_nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}
.elastislide-wrapper nav span:hover {
	opacity: 1.0
}
.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}
.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}
.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}
.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}
/* End ElastiSlide CSS */

/* Font Styling */
@font-face {
    font-family: 'shanghairegular'; /* Shanghai */
    src: url('../fonts/shanghai-webfont.eot');
    src: url('../fonts/shanghai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/shanghai-webfont.woff2') format('woff2'),
         url('../fonts/shanghai-webfont.woff') format('woff'),
         url('../fonts/shanghai-webfont.ttf') format('truetype'),
         url('../fonts/shanghai-webfont.svg#shanghairegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comicneuesansidmedium';
    src: url('../fonts/comicneuesansid-webfont.eot');
    src: url('../fonts/comicneuesansid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comicneuesansid-webfont.woff2') format('woff2'),
         url('../fonts/comicneuesansid-webfont.woff') format('woff'),
         url('../fonts/comicneuesansid-webfont.ttf') format('truetype'),
         url('../fonts/comicneuesansid-webfont.svg#comicneuesansidmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 62.5%;
    /* font-size: 16px/1.8; */
    background-image: url("../img/background.jpg"); /* Free Repeating Backgrounds Place */
}
h1 {
    font-family: "shanghairegular";
    font-size: 40px; font-size: 4.0em;
    color: #d3d300;
    padding-left: 17px;
	float: left;
}
h1 a {
    color: #d3d300;
    text-decoration: none;
	border-bottom: none;
}
h2 {
    font-size: 20px; font-size: 2.0rem;

    margin: 0px 0px 0px 17px;    
}
h3 {
    font-family: "comicneuesansidmedium";
    font-size: 18px; font-size: 1.8rem;
    line-height: 1.1em;
    padding: 20px 0px 20px 0px;
    color: #042143;
    margin: 0px 0px 0px 17px;
}
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px; font-size: 1.2rem;
    line-height: 1.1em;
    margin: 0px 0px 0px 17px;    
}
a {
    margin: 0px 0px 0px 0px;
	border-bottom: 1px dotted;
}
a:hover {
   border-bottom: 1px solid black;
}
li {
    font-size: 14px; font-size: 1.4rem;
}
/* End Font Styling */

/* Start GitHub Ribbon Styling */
.ribbon {
    top: 2.5em;
    right: -3.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color:#fff;
    display: block;
    padding: .6em 3.5em;
    position: fixed;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-box-shadow:    3px 3px 5px 0px #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;
    box-shadow:         3px 3px 5px 0px #ccc;
}
/* End GitHub Ribbon Styling */

/* Image Styling */
img.width-100 {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
/* End Image Styling */

header, footer {
    display:block;
    width: 100%;
    z-index:9;
}

/* Header Styling */
header {
    top: 0px;
    background: #004a80;
    z-index:8;
	clear: both;
}
header img {
    display: none;
}
/* End Header Styling */

aside {
    width: 100%;
	float: left;
	display: inline;
}

/* Content Block Styling */
.content_block {
    border-top: solid 11px #2bbcf2;
    margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 8px;
    width: 100%;
    margin-left: auto auto;
    float: left;
    background: #6b6b6b;
    color: #c3c3c3;
    clear: none;
}
.content_block img {
    margin: 5px;
    float: left;
}
.content_block .slide {}
.content_block h3, 
.content_block p {
    width: auto;
    text-shadow: 1px 1px 0px #000;
}
.inline-item {
    display: inline;
}
.block1 {
	border-top: none;
}
.block2 {
    border-top: solid 11px #004a80;
}
/* End Content Block Styling */

/* Start Form Styling */
label, button, select, input, textarea {
    margin-top: 5px;
}
label {
    margin-top: 5px;
	margin-left: 17px;
	vertical-align: top;
	text-align: right;
	width: 83px;
	float:left;
    clear:left;
}
#submit {
    margin-left: 100px;
}
/* End Form Styling */

/* Start Aside Styling */
aside {
    float: left;
	clear: both;
}
/* End Aside Styling */

/* Footer Styling */
footer {
    display: none;
}
/* End Footer Styling */

/* Start Tooltip Styling */
div.tooltip {
    background: #000;
    border-radius: 8px;
    display: none;
}
div.tooltip p {
    margin-left: 3px;
    margin-right: 3px;
    color: #fff;
}
div.tooltip p:last-child {
    margin-bottom: 2px;
}
span.align-meter {
    width: 115px;
    display: block;
    vertical-align:middle;
    float:left;
    clear:left;
}
/* End Tooltip Styling */

img.iframe-contact {
    float: none;
}

@media print {
    #wrapper p {
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 12px;
        line-height: 17px;
        margin: 0px 0px 0px 17px;
    }
}
@media screen and (min-width: 768px) {
    header {max-width:768px; margin: 0px auto;}
    header img {
        display: inline;
        float: right;
    }
	footer {
        display: block;
        background: #410202;
        width: 100%;
        bottom: 5px;
        clear: both;
    }
    footer a {
        color: #5050ef;
        text-decoration: none;
        border-bottom: 1px dotted #5050ef;
        margin: 0px 0px 0px 0px;
        text-shadow: 1px 1px 0px #000;
    }
    footer p {
        line-height: 14px; line-height: 1.4rem;
        color: #a54c4c;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 1px 1px 0px #000;
    }
}
/* Last Media Query. All others place above */
@media screen and (min-width: 992px) {
    header {max-width:992px; margin: 0px auto;}
    #wrapper {max-width:992px; margin: 0px auto;}
    footer {max-width:992px; margin: 0px auto;}
}